<!DOCTYPE html>
<html lang="en">
<head>
<title>Creating album</title>
<!-- title displayed on the browser's bar -->
</head>
<body>
<h4>Create an album</h4>
<!-- registration form -->
<!-- sets method POST for secure transmission -->
<!-- action attr states where form data are to be sent -->
<!-- enctype attr states how form-data should be encoded when submitted -->
<form method="POST" action="/createalbum" enctype="multipart/form-data">
<!-- input the first, last name, email etc. -->
<input type="text" name="alname" placeholder="Name" required><br>
<!-- submit button for the form -->
<button type="submit">Create</button>
</form>
</body>
</html>