<!DOCTYPE html>
 <html lang="en"> <!-- Enlish used as the lang -->
 <head>
 <title> Home K29-OddMatrNums </title>
 <!-- Title of page shown in browser's title bar -->
</head>
 <body>
 <h4> - This is the k29-flask users page - </h4>
 <h4>Logged in as: {{user}} </h4>
 <!-- page header tag -->
 <a href="/register">Want to register a user?</a>
 <!-- link to registration page -->
 <a href="/users">View all users</a>
 <a href="/login">Login</a>
 <a href="/logout">Logout</a>
 <br>
 <a href="/addfriend">Add Friend</a>
 <a href="/viewfriends">View friends</a>
 <a href="/vieworcreatealbum">View or create album</a>
 <!-- link to page where all users are listed -->
 <div>
     <img src="https://tenor.com/view/gotou-hitori-bocchi-the-rock-glitch-skizo-crazy-gif-27019291.gif" alt="Bocchi the Rock" />
 </div>
 </body>
 </html>