<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
<!-- title displayed on the browser's bar -->
</head>
<body>
<h4>Login</h4>
<!-- registration form -->
<!-- sets method POST for secure transmission -->
<!-- action attr states where form data are to be sent -->
<!-- enctype attr states how form-data should be encoded when submitted -->
 <a href="/">Back to Home</a>

<form method="POST" action="/login" enctype="multipart/form-data">
<!-- input the first, last name, email etc. -->
<input type="email" name="email" placeholder="Email" required><br>
<input type="password" name="password" placeholder="Password" required><br>
<!-- submit button for the form -->
<button type="submit">Login</button>
</form>
</body>
</html>