<!DOCTYPE html>
<html lang="en">
<head>
<title>Photos by Tag</title>
</head>
<body>

<h4>Photos for tag: #{{tag}}</h4>

<!-- Nav -->
 <a href="/">Back to Home</a>
 <br>

 <!--Switch btw MY/ALL -->
 <a href="{{ url_for('viewphotosbytag', tagname=tag, mode='all') }}">View All Photos</a>
 <a href="{{ url_for('viewphotosbytag', tagname=tag, mode='my') }}">View My Photos</a>

 <hr>
 <div>

    {%for photo in photos%}
    <div>

        <img src="{{ photo.photo_src }}" alt="Photo" style="height: 300px;">
        <h5>{{photo.name}}</h5>
    </div>
    · · ─ ·✶· ─ · ·
 </div>
 {% endfor %}
</body>
</html>