<!DOCTYPE html>
<html lang="en">
<head>
<!-- Doc title on browser's title bar -->
<title>User Activity</title>
</head>
<body>
<h4>User Activity</h4>
<div>
    <!-- start a loop for all users in users list -->
    {% for activity in activities %}
    <h5>{{ activity.fname }} {{ activity.lname }}: {{activity.photos_uploaded}} photos uploaded, {{activity.comments_on_others}} comments on others, {{ activity.total_activity }} total activities</h5>
    {% endfor %}
</div>

<!-- link to home of the web-app -->
<a href="/">Back to Home</a>
</form>
</body>
</html>
