<!DOCTYPE html>
<html lang="en">
<head>
<!-- Doc title on browser's title bar -->
<title>Listing of all Users</title>
</head>
<body>
<h4>All registered Users</h4>
<!-- link to home of the web-app -->
<a href="/">Back to Home</a>
<div>
    <!-- start a loop for all users in users list -->
    {% for user in users %}
    <div>
        <!-- show the user's photo through the
        object's photo_src attr -->
<a href="/viewuseralbums?email={{user.email}}">{{user.first_name}}</a>
<h5>{{ user.first_name }} {{ user.last_name }}</h5>
<h5>{{ user.email }} {{user.dob}} </h5>
<img src="{{ user.photo_src }}" alt="User Photo" style="height: 100px;">
<br>
    · · ─ ·✶· ─ · ·

<br>
<!-- src attr is dynamically set to a user's photo URL -->
<!-- alt ayyt provides alternative text for image -->
<!-- style designated inline the height -->
</div>
{% endfor %}
<!-- end of the loop -->
</div>
</body>
</html>
